Source: openstack-dashboard-cloudbase-theme
Section: net
Priority: optional
Maintainer: Dorin Paslaru <dpaslaru@cloudbasesolutions.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/openstack-dashboard-cloudbase-theme

Package: openstack-dashboard-cloudbase-theme
Architecture: all
Depends: ${misc:Depends},
         openstack-dashboard (= 3:13.0.1-0ubuntu1)
Description: Cloudbase Theme for the OpenStack Dashboard (Horizon)
 The Cloudbase Solutions theme for OpenStack Dashboard (Horizon).
 This package is optional and overrides the default theme and branding.
